extends layout

block content
  h1= title
  p Welcome to #{title}


  form(action='https://eo4qm5og7cm1szt.m.pipedream.net', method='POST', enctype='multipart/form-data')
    input(name='prompt', placeholder='Prompt...')
    input(type='file', name='images[]' multiple)
    button(type='submit') Upload